@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

/* Normalize */

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* General styles */

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s;
  position: relative;
}

.btn:hover {
  background-color: #a79389;
}

.btn:focus {
  background-color: #5a4b43;
}

.btn-blue {
  background-color: #82B3D3;
}

.btn-blue:hover {
  background-color: #a2cbe7;
}

.btn-blue:focus {
  background-color: #6193b4;
}

.btn-green {
  background-color: #7DB54F;
}

.btn-green:hover {
  background-color: #a0d872;
}

.btn-green:focus {
  background-color: #53852a;
}

/* Header */

.page-header {
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 70px;
}

.page-header-logo {
  position: absolute;
}

/* Navigation */

.navigation {
  padding: 0;
  margin: 0;
  margin-left: 168px;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
}

.navigations-actions-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 20px;
  gap: 13px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 24px;
  display: block;
  margin: 0;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  top: 100%;
  left: 16px;
  right: 16px;
  transition: all 0.25s;
}

.navigation-link:hover {
  color: #4ca3b9
}

.navigation-link:focus {
  color: #45c3e2
}

.button-header {
  margin-top: 14px;
  border-radius: 4px;
}

.navigation-icon {
  fill: #000000;
  transition: all 0.25s;
}

.navigation-item:hover .navigation-icon {
  fill: #83acdb;
}

.navigation-link:focus .navigation-icon {
  fill: #3f638b;
}

.like-counter {
  position: absolute;
  right: 8px;
  top: 16px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.like-counter span {
  position: relative;
  z-index: 2;
  transition: all 0.25s;
  color: #ffffff;
}

.navigation-item:hover .like-counter span {
  transform: scale(0);
  display: inline-block;
}

.like-counter::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  content: "";
  position: absolute;
  right: -4px;
  top: -5px;
  z-index: 1;
  transition: all 0.25s;
}

.navigation-item:hover .like-counter::after
 {
  transform: scale(0);
}


/* Search header */

.navigation-actions {
  margin-left: auto;
  display: flex;
}

.button-header {
  width: 160px;
  display: block;
  text-align: center;
  min-height: 36px;
  padding: 8px;
}

/* Content Part */

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

/* Hero block */

.hero {
  background-image: url("../images/bottom-of-the-hero.svg"), url("../images/index-background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% 57px, cover;
  color: #ffffff;
  background-color: #313b42;
  padding-top: 52px;
  padding-bottom: 83px;
}

.hero-logo {
  margin: 0 auto;
  display: block;
}

.description {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 69px;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.description-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.description-with-button {
  padding: 96px;
}

/* Block with advantage and image */

.advantage-solo {
  background-color: #82B3D3;
  color: #ffffff;
  text-align: center;
  display: flex;
}

.advantage-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 102px 85px;
}

.advantage-solo-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
}

.advantage-solo-title::after {
  content: "";
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 85px;
  right: 85px;
  top: 86px;
}

.advantage-solo-subtitle {
  margin: 0;
}

/* Block with advantages */

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  min-height: 385px;
}

.advantages-list .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list .advantages-item:nth-child(2),
.advantages-list .advantages-item:nth-child(3n+2) {
  background-color: #83B3D333;
}

.advantages-item {
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 113px 85px;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
  width: 100%;
}

.advantage-title::after {
  content: "";
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 85px;
  left: 85px;
  top: 86px;
}

.advantage-subtitle {
  margin: 0;
}

.advantages-with-icon-wrapper {
  width: 230px;
  margin: 0 auto;
}

.advantages-list-reverse .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list-reverse .advantages-item:nth-child(2),
.advantages-list-reverse .advantages-item:nth-child(3n+2) {
  background-color: #ffffff;
}


.advantage-solo-reverse {
  flex-direction: row-reverse;
}

.with-icons .advantage-title {
  margin-bottom: 30px;
}

.icon-house::after {
  background: url("../images/icons/advantages/home.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 75px;
  height: 72px;
  position: absolute;
  top: -102px;
  left: 77px;
}

.icon-burger::after {
  background: url("../images/icons/advantages/food.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 74px;
  height: 70px;
  position: absolute;
  top: -102px;
  left: 77px;
}

.icon-souvenirs::after {
  background: url("../images/icons/advantages/souvenirs.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 76px;
  position: absolute;
  top: -102px;
  left: 77px;
}

.with-icons .advantages-item {
  padding-top: 183px;
}

.description-second {
  padding: 64px;
}

.description-second .description-title {
  margin-bottom: 20px;
}

.description-with-button .description-subtitle {
  margin-bottom: 54px;
}

.description-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  padding: 8px 50px;
  border-radius: 4px;
}

.description-cta {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px;
}

.with-background-image {
  background-image: url("../images/banner-blurred.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #82B3D3;
}

.description-cta-text-wrapper {
  padding: 0 104px;
}

.description-cta-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.description-cta-subtitle {
  font-size: 22px;
  line-height: 26px;
  display: block;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscribe-mail {
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  margin-right: 0;
}

.subscribe-form {
  display: flex;
}

.subscribe-form button {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  margin-left: 0;
  border: none;
  cursor: pointer;
}

.subscribe-form input {
  border: none;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.page-footer {
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  padding: 45px 70px;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-right: 237px
}

.social-links-item {
  display: block;
  width: 22px;
  min-width: 47px;
  min-height: 40px;
  position: relative;
}


.social-link {
  width: 48px;
  height: 40px;
  display: inline-block;
}

.footer-with-icon::before {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.footer-with-icon:hover::before {
  opacity: 50%;
}

.vk-icon::before {
  width: 24px;
  height: 14px;
  background: url('../images/icons/vk.svg');
}

.telegram-icon::before {
  width: 18px;
  height: 16px;
  background: url('../images/icons/telegram.svg');
}

.yt-icon::before {
  width: 22px;
  height: 17px;
  background: url('../images/icons/youtube.svg');
}

.footer-phone {
  width: 331px;
}

.school {
  margin-left: auto;
}

/* Hotels Page */

.hotels-main-block {
  background-image: url("../images/hotels-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 70px;
  padding-top: 35px;
}

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0
}

/* Header */

.filters-wrapper {
  margin: 0 auto;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px
}

.breadcrumbs li:first-of-type a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3.5px;
  left: 6px;
  background: url("../images//icons/home.svg");
}

.breadcrumbs li:not(:first-of-type) {
  margin-left: 28px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs li:not(:first-of-type)::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 10px;
  top: 5px;
  left: -18px;
  background: url("../images//icons/arrow-right.svg");
}

.breadcrumbs li:nth-of-type(2) {
  margin-left: 40px;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
}

.filters-header {
  margin-bottom: 40px;
}

.hotels-filters-form {
  display: flex;
  gap: 70px;
}

.hotels-filters-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-filters-group {
  margin: 0;
  padding: 0;
}

.hotels-filters-price-group {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
}


.third-filters-group {
  margin-right: 70px;
  width: 288px;
}

.hotels-filters-item {
  margin-bottom: 16px;
}

.hotels-filters-item:first-child {
  margin-top: 32px;
}


.hotels-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-filters-input {
  line-height: 23px;
}

.hotels-filters-input-number {
  line-height: 24px;
  color: #000000;
}

.filters-controls button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 50px;
  width: 191px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s;
}

.filters-controls {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

.filters-controls-accept {
  background-color: #82B3D3;
}

.filters-controls-accept:hover {
  background-color: #a2cbe7;
}

.filters-controls-accept:focus {
  background-color: #6193b4;
}


.filters-controls-clear {
  background-color: rgba(255, 255, 255, 0);
}

.filters-controls-clear:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.filters-controls-clear:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Results block */

.results-info {
  background-color: #ffffff;
  padding: 50px 70px 60px;
}

.hotels-search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
  max-width: 450px;
}

.results-header-wrapper {
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
}

.sort-by-filter {
  width: 292px;
}

.select-grid-type-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.select-grid-type-button {
  min-width: 48px;
  min-height: 48px;
  display: block;
  text-wrap: nowrap;
  position: relative;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  transition: all 0.25s;
}

.select-grid-type-button:not(.button-active) {
  cursor: pointer;
}

.select-grid-type-button:not(.button-active):hover {
  border-color: #82B3D3;
}

.select-grid-type-button:not(.button-active):hover .select-grid-icon {
  fill: #a3d0ee;
}

.select-grid-type-button:not(.button-active):focus {
  border-color: #356686;
}

.select-grid-type-button:not(.button-active):focus .select-grid-icon {
  fill: #3f90c7;
}

.select-grid-type-button.button-active {
  border-color: #000000;
}

.select-grid-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}

.results-list-wrapper {
  margin: 0 auto;
  margin-bottom: 80px;
}

.results-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

/* Result card */

.results-item {
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  grid-template-rows: 212px auto min-content min-content min-content;
}

.results-item-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.results-item-link img {
  object-fit: contain;
}

.results-item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.results-item-description-price {
  justify-self: self-end;
}

.results-item .btn {
  width: 140px;
  text-align: center;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}


.results-item-controls {
  margin-bottom: 24px;
}

.results-item-rating-stars {
  display: block;
  width: 140px;
  height: 37px;
  align-self: center;
  position: relative;
}

.results-item-rating-stars::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 17px;
  background: url("../images/icons/star.svg");
  background-position: left center;
  background-repeat: repeat-x;
}

.rating-5::before {
  width: calc(5 * 18px);
}

.rating-4::before {
  width: calc(4 * 18px);
}

.rating-3::before {
  width: calc(3 * 18px);
}

.rating-2::before {
  width: calc(2 * 18px);
}

.rating-1::before {
  width: calc(1 * 18px);
}

.results-item-rating {
  background-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  align-self: center;
  text-align: center;
}

.results-item .btn, .results-item-rating {
  padding: 8px 18px;
  border-radius: 4px;
}

/* Pagination */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 8px;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.25s;
}

.pagination-link:not(.pagination-active):not(.pagination-more):hover {
  background-color: #a2cbe7;
}

.pagination-link:not(.pagination-active):not(.pagination-more):focus {
  background-color: #6193b4;
}

.pagination-active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}
