@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #ffffff;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
}

a.button {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 24px;
}

.hero {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #82B3D3;
}

.description {
  text-align: center;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.advantage-solo {
  background-color: #82B3D3;
  color: #ffffff;
  text-align: center;
}

.advantage-solo-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-list {
  text-align: center;
}

.advantages-list .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list .advantages-item:nth-child(2) {
  background-color: #83B3D333;
}

.advantages-item {
  text-align: center;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list-reverse .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list-reverse .advantages-item:nth-child(2) {
  background-color: #ffffff;
}


.advantage-solo-reverse {
  background-color: #82B3D3;
  color: #ffffff;
  text-align: center;
}

a.description-button {
  font-size: 20px;
  line-height: 36px;
}

.description-cta {
  text-align: center;
}

.with-background-image {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #82B3D3;
}

.description-cta-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.description-cta-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-mail {
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
}

.subscribe-form button {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* Hotels Page */

.hotels-main-block {
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
}

.hotels-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-filters-input {
  line-height: 23px;
}

.hotels-filters-input-number {
  line-height: 24px;
  color: #000000;
}

.filters-controls button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

.filters-controls-accept {
  background-color: #82B3D3;
}

.filters-controls-clear {
  background-color: transparent;
}

.hotels-search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.results-item-link {
  text-decoration: none;
}

.results-item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.results-button {
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.results-item-more-info {
  background-color: #756157;
}

.results-item-favorite {
  background-color: #82B3D3;
}

.results-item-favorite.favorite-active {
  background-color: #7DB54F;
}

.results-item-rating {
  background-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.pagination-item {
  background-color: #82B3D3;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item.pagination-active, .pagination-special {
  background-color: #F2F2F2;
}

.pagination-item.pagination-active .pagination-link {
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
}
