@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

/* Normalize */

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* General styles */

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.25s;
  position: relative;
}

.btn:hover {
  background-color: #615048;
}

.btn:focus {
  background-color: #615048;
  outline: none;
}

.btn:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.btn-blue {
  background-color: #82B3D3;
}

.btn-blue:hover {
  background-color: #68A2CA;
}

.btn-blue:focus {
  background-color: #68A2CA;
}

.btn-blue:active {
  background-color: #82B3D3;
  color: rgba(0, 0, 0, 0.3);
}

.btn-green {
  background-color: #7DB54F;
}

.btn-green:hover {
  background-color: #6C9E42;
}

.btn-green:focus {
  background-color: #6C9E42;
}

.btn-green:active {
  background-color: #7DB54F;
  color: rgba(0, 0, 0, 0.3);
}

.btn:disabled {
  cursor: default;
  background-color: #E5E5E5;
}

/* Header */

.page-header {
  display: flex;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 70px;
}

.page-header-logo {
  position: absolute;
}

/* Navigation */

.navigation {
  padding: 0;
  margin: 0;
  margin-left: 168px;
}

.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-links {
  display: flex;
  flex-wrap: wrap;
}

.navigations-actions-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-right: 20px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 24px;
  display: block;
  margin: 0;
  padding: 20px 16px;
  position: relative;
}

.navigation-link-active::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #756257;
  top: 100%;
  left: 16px;
  right: 16px;
  transition: all 0.25s;
}

.navigation-link:hover {
  color: #83acdb
}

.navigation-link:focus {
  color: #3f638b
}

.navigation-link:active {
  color: rgba(0,0,0,0.3);
}

.button-header {
  margin-top: 14px;
  border-radius: 4px;
}

.navigations-actions-icons .navigation-item:not(:last-of-type) {
  width: 44px;
  margin-right: 0;
}

.navigation-icon {
  fill: #000000;
  transition: all 0.25s;
}

.navigation-link:hover .navigation-icon {
  fill: #83acdb;
}

.navigation-link:focus .navigation-icon {
  fill: #3f638b;
}

.like-counter {
  position: absolute;
  right: 8px;
  top: 16px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.like-counter span {
  position: relative;
  z-index: 2;
  transition: all 0.25s;
  color: #ffffff;
}

.navigation-link:hover .like-counter span {
  transform: scale(0);
  display: inline-block;
}

.like-counter::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  content: "";
  position: absolute;
  right: -4px;
  top: -5px;
  z-index: 1;
  transition: all 0.25s;
}

.navigation-item:hover .like-counter::after
 {
  transform: scale(0);
}


/* Search header */

.navigation-actions {
  margin-left: auto;
  display: flex;
}

.button-header {
  width: 160px;
  display: block;
  text-align: center;
  min-height: 36px;
  padding: 8px;
}

/* Content Part */

.content-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2) ;
}

.main-container {
  flex-grow: 1;
}

/* Hero block */

.hero {
  background-image: url("../images/bottom-of-the-hero.svg"), url("../images/index-background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% 57px, cover;
  color: #ffffff;
  background-color: #313b42;
  padding-top: 52px;
  padding-bottom: 83px;
}

.hero-logo {
  margin: 0 auto;
  display: block;
}

.description {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 69px 69px 90px 69px;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.description-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.description-with-button {
  padding: 96px;
}

/* Block with advantage and image */

.advantage-solo {
  background-color: #82B3D3;
  color: #ffffff;
  text-align: center;
  display: flex;
}

.advantage-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 102px 85px;
}

.advantage-solo-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
}

.advantage-solo-title::after {
  content: "";
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 85px;
  right: 85px;
  bottom: -30px;
}

.advantage-solo-subtitle {
  margin: 0;
}

/* Block with advantages */

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  min-height: 385px;
}

.advantages-list .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list .advantages-item:nth-child(2),
.advantages-list .advantages-item:nth-child(3n+2) {
  background-color: #83B3D333;
}

.advantages-item {
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 113px 85px;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 62px;
  position: relative;
  width: 100%;
}

.advantage-title::after {
  content: "";
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 85px;
  left: 85px;
  bottom: -30px;
}

.advantage-subtitle {
  margin: 0;
}

.advantages-with-icon-wrapper {
  width: 230px;
  margin: 0 auto;
}

.advantages-list-reverse .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list-reverse .advantages-item:nth-child(2),
.advantages-list-reverse .advantages-item:nth-child(3n+2) {
  background-color: #ffffff;
}


.advantage-solo-reverse {
  flex-direction: row-reverse;
}

.advantage-solo-image {
  object-fit: cover;
}

.with-icons .advantage-title {
  margin-bottom: 30px;
}

.advantage-icon::after {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

.icon-house::after {
  background: url("../images/icons/advantages/home.svg");
  width: 75px;
  height: 72px;
  top: -102px;
}

.icon-burger::after {
  background: url("../images/icons/advantages/food.svg");
  width: 74px;
  height: 70px;
  top: -102px;
}

.icon-souvenirs::after {
  background: url("../images/icons/advantages/souvenirs.svg");
  width: 64px;
  height: 76px;
  top: -102px;
}

.with-icons .advantages-item {
  padding-top: 183px;
  padding-bottom: 20px;
}

.description-second {
  padding: 64px;
}

.description-second .description-title {
  margin-bottom: 20px;
}

.description-with-button .description-title {
  margin-bottom: 20px;
}

.description-with-button .description-subtitle {
  margin-bottom: 54px;
}

.description-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
  padding: 8px 50px;
  border-radius: 4px;
}

.description-cta {
  background-color: #ffffff;
  text-align: center;
  padding: 96px 258px 104px;
}

.cta-hotels {
  /* margin-top: 125px; */
  /* padding-top: 90px; */
}

.with-background-image {
  background-image: url("../images/banner-blurred.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #82B3D3;
}

.description-cta-text-wrapper {
  padding: 0 104px;
}

.description-cta-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.description-cta-subtitle {
  font-size: 22px;
  line-height: 26px;
  display: block;
  margin: 0 auto;
  margin-bottom: 54px;
}

.cta-hotels-subtitle {
  padding-right: 105px;
  padding-left: 105px;
}

.subscribe-mail {
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  width: 500px;
  margin-right: 0;
}

.subscribe-mail:focus {
  outline: 3px solid #83B3D3;
}

.subscribe-mail:active {
  outline: 3px solid #000000;
}

.subscribe-form {
  display: flex;
}

.subscribe-form button {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-left: 0;
  border: none;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

.subscribe-form input {
  border: none;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  transition: all 0.25s;
}

.phone-number:hover {
  color: #756157;
}

.phone-number:focus {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3)
}

.page-footer {
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  padding: 45px 70px;
  align-items: center;
}

.footer-socials {
  margin-right: auto;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 142px;
}

.social-links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  min-width: 47px;
  min-height: 40px;
  position: relative;
}


.social-link {
  width: 48px;
  height: 40px;
  display: inline-block;
  position: relative;
}

.footer-with-icon::before {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.footer-with-icon:hover::before {
  opacity: 50%;
}

.social-icon {
  fill: #83B3D3;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}


.social-link:hover .social-icon {
  fill: #68A2CA;
}

.social-link:focus .social-icon {
  fill: #68A2CA;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 331px;
}

.footer-logo {
  fill: #000000;
  transition: all 0.25s;
}

 .school-logo-link:hover .footer-logo {
  fill: #756157;
}

 .school-logo-link:focus .footer-logo {
  fill: #756157;
}

 .school-logo-link:active .footer-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.school {
  margin-left: auto;
  margin-top: 4px;
}

/* Hotels Page */

.hotels-main-block {
  background-image: url("../images/hotels-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 35px 70px 58px 70px;
}

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  margin-bottom: 6px;
}

/* Header */

.filters-wrapper {
  margin: 0 auto;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px
}

.breadcrumbs li:first-of-type a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 3.5px;
  background: url("../images/icons/home.svg");
}

.breadcrumbs li:not(:first-of-type) {
  margin-left: 28px;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs li:not(:first-of-type)::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 10px;
  top: 5px;
  left: -18px;
  background: url("../images/icons/arrow-right.svg");
}

.breadcrumbs li:nth-of-type(2) {
  margin-left: 30px;
}

.breadcrumbs-link {
  position: relative;
  font-size: 16px;
}

.filters-header {
  margin-bottom: 40px;
}

.hotels-filters-form {
  display: flex;
  gap: 70px;
}

.hotels-filters-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-filters-group {
  margin: 0;
  padding: 0;
  border: none;
}

.hotels-filters-price-group {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
}


.third-filters-group {
  margin-right: 70px;
  width: 288px;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 4px;
  top: 2px;
  cursor: pointer;
}

.hotels-filters-input:hover {
  color: rgba(255, 255, 255, 0.6);
}

.hotels-filters-input-checkbox:hover + .custom-checkbox,
.hotels-filters-input-checkbox:active + .custom-checkbox,
.hotels-filters-input-radio:hover + .custom-radio,
.hotels-filters-input-radio:active + .custom-radio {
  background-color: rgba(255, 255, 255, 0.6);
}

.hotels-filters-input-radio:focus + .custom-radio,
.hotels-filters-input-checkbox:focus + .custom-checkbox {
  outline: 3px solid #83B3D3;
}

.hotels-filters-input-checkbox:checked + .custom-checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  content: "";
  background: url("../images/icons/checkmark.svg") no-repeat center;
}

.custom-radio {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  cursor: pointer;
}

.hotels-filters-input-radio:checked + .custom-radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.hotels-filters-price {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.hotels-filters-input-number {
  line-height: 24px;
  color: #000000;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  padding: 12px 50px 12px 20px;
  width: 143px;
  height: 48px;
  position: relative;
}

.hotels-filters-input-number::-webkit-outer-spin-button,
.hotels-filters-input-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.hotels-filters-price-item {
  position: relative;
}

.hotels-filters-price-item:first-of-type {
  margin-right: 2px;
}

.hotels-filters-price-item:first-of-type .hotels-filters-input-number {
  border-radius: 4px 0 0 4px;
  border: none;
}

.hotels-filters-price-item:first-of-type::after,
.hotels-filters-price-item:last-of-type::after {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  right: 20px;
  top: 12px;
  font-weight: 400;
  font-size: 18px;
  font-family: inherit;
  line-height: 24px;
}

.hotels-filters-price-item:first-of-type::after {
  content: "от";
}

.hotels-filters-price-item:last-of-type::after {
  content: "до";
}

.hotels-filters-price-item:last-of-type .hotels-filters-input-number {
  border-radius: 0 4px 4px 0;
  border: none;
}

.hotels-filters-input-number:focus {
  outline: 2px solid #83B3D3;
}

.hotels-filters-input-number:active {
  outline: 2px solid #000000;
}


/* RANGE SLIDER */

.range-slider {
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 44px;
  position: relative;
}

.range-slider-active {
  width: 170px;
  background-color: #ffffff;
  height: 4px;
  position: relative;
  left: 30px;
}

.button-slider {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  top: -8px;
}

.button-slider-from {
  left: -4px;
}

.button-slider-to {
  right: -4px;
}

.button-slider:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.button-slider:focus,
.button-slider:active {
  outline: 2px solid #83B3D3;
}

.button-slider:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.button-slider:active {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.input-label {
  padding-left: 36px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  text-wrap: wrap;
  overflow: hidden;
  max-width: 181px;
}

.hotels-filters-item {
  margin-bottom: 16px;
}

.hotels-filters-item:first-child {
  margin-top: 32px;
}


.hotels-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-filters-title:first-of-type {
  margin-left: -2px;
}

.third-filters-group .hotels-filters-title {
  margin-bottom: 32px;
}

.hotels-filters-input {
  position: relative;
  line-height: 23px;
}

.filters-controls button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 50px;
  width: 191px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s;
}

.filters-controls {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 56px;
}

.filters-controls button {
  padding-top: 8px 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
}

.filters-controls-accept {
  background-color: #82B3D3;
}

.filters-controls-accept:hover {
  background-color: #a2cbe7;
}

.filters-controls-accept:focus {
  background-color: #6193b4;
}

.filters-controls-accept:disabled {
  background-color: #E5E5E5;
  cursor: default;
}

.filters-controls-clear {
  background-color: rgba(255, 255, 255, 0);
}

.filters-controls-clear:hover {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.6);
}

.filters-controls-clear:focus {
  outline: 3px solid #83B3D3;
}

.filters-controls-clear:active {
  color: rgba(255, 255, 255, 0.3);
}

.filters-controls-clear:disabled {
  cursor: default;
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.1);
}

/* Results block */

.results-info {
  background-color: #ffffff;
  padding: 50px 70px 60px;
}

.hotels-search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  max-width: 450px;
  overflow: hidden;
}

.results-header-wrapper {
  margin: 0 auto;
  margin-bottom: 38px;
  display: flex;
}

.select-wrapper {
  position: relative;
  margin-right: 70px;
  margin-left: auto;
}

.sort-by-filter {
  width: 292px;
  height: 49px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  appearance: none;
  transition: all 0.125s;
  position: relative;
}

.selector-arrow {
  width: 12px;
  height: 7px;
  fill: #000000;
  position: absolute;
  right: 18px;
  top: 23px;
  transform: translateY(-50%);
}


.sort-by-filter:hover,
.sort-by-filter:focus {
  border-color: #68A2CA;
  outline-color: #68A2CA;
}

.sort-by-filter:active {
  border-color: #3F5E72;
  outline-color: #3F5E72;
}

.sort-by-filter:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-filter:disabled + .selector-arrow {
  fill: rgba(0, 0, 0, 0.3);
}

.select-grid-type-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 160px;
  gap: 8px;
}

.select-grid-type-button {
  min-width: 48px;
  min-height: 48px;
  display: block;
  text-wrap: nowrap;
  position: relative;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  transition: all 0.25s;
}

.select-grid-type-button:not(.button-active) {
  cursor: pointer;
}

.select-grid-type-button:not(.button-active):hover {
  border-color: #000000;
}

.select-grid-type-button:not(.button-active):focus {
  border-color: #68A2CA;
}

.select-grid-type-button:not(.button-active):active {
  border-color: #000000;
}

.select-grid-type-button.button-active {
  border-color: #000000;
}

.select-grid-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.25s;
}

.results-list-wrapper {
  margin: 0 auto;
  margin-bottom: 75px;
}

.results-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

/* Result card */

.results-item {
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  grid-template-rows: 212px auto min-content min-content min-content;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.results-item-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.results-item-link img {
  object-fit: contain;
}

.results-item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.results-item-description-price {
  justify-self: self-end;
}

.results-item .btn {
  width: 140px;
  text-align: center;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}


.results-item-controls {
  margin-bottom: 24px;
}

.results-item-rating-stars {
  display: block;
  width: 140px;
  height: 37px;
  align-self: center;
  position: relative;
}

.single-star {
  fill: #83B3D3;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.results-item-rating {
  background-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
  align-self: center;
  text-align: center;
}

.results-item .btn, .results-item-rating {
  padding: 8px 18px;
  border-radius: 4px;
}

/* Pagination */

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 8px;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  min-width: 60px;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.25s;
}

.pagination-link:not(.pagination-active):not(.pagination-more):hover {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-active):not(.pagination-more):focus {
  background-color: #68A2CA;
}

.pagination-link:not(.pagination-active):not(.pagination-more):active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
  background-color: #ffffff;
  color: #000000;
}

/* MODAL */

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

.modal-active {
  display: flex;
}

.modal {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  min-width: 717px;
  min-height: 200px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  padding: 64px 70px;
  border-radius: 30px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.modal-title {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.modal-close-button {
  height: 52px;
  width: 52px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  position: relative;
  top: 0;
  right: -17px;
  cursor: pointer;
}

.modal-close-button::after,
.modal-close-button::before {
  content: "";
  width: 18px;
  height: 2px;
  background-color: #000000;
  position: absolute;
  right: 17px;
}

.modal-close-button::after {
  transform: rotate(45deg);
}

.modal-close-button::before {
  transform: rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
}

.modal-close-button:active::after,
.modal-close-button:active::before {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-form {
  display: flex;
  width: 577px;
  flex-wrap: wrap;
}

.modal-input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.choose-date {
  width: 100%;
  margin-bottom: 23px;
}

.choose-date-label {
  width: 119px;
  overflow: hidden;
  top: 12px;
}

.modal-label {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  font-family: inherit;
  text-transform: capitalize;
  line-height: 24px;
  position: relative;
}

.adult-label {
  max-width: 112px;
  overflow: hidden;
}

.adult-label,
.children-label {
  position: relative;
  top: 11px
}

.children-label {
  max-width: 102px;
  overflow: hidden;
}

.date-picker {
  height: 48px;
  width: 440px;
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  padding: 12px 40px 12px 20px;
  border: none;
  border-radius: 4px;
  appearance: none;
  background: url("../images/icons/calendar.svg") no-repeat right 22px top 15px;
  background-color: #F2F2F2;
  margin-bottom: 4px;
}

.date-picker::-webkit-inner-spin-button,
.date-picker::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.date-picker:hover {
  background-color: #e6e6e6;
}

.date-picker:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83B3D3;
}

.date-picker:active {
  background-color: #F2F2F2;
  outline: 2px solid #000000;
}

.label-and-picker-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.choose-date-message {
  font-weight: 400;
  font-size: 16px;
  font-family: inherit;
  position: relative;
  margin-left: 20px;
  max-width: 420px;
}

.message-error {
  color: #FF5757;
}

.people-pickers-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* gap: 88px; */
}

.choose-amount-adult,
.choose-amount-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 300px;
}

.choose-amount-child {
  display: flex;
}

.choose-amount-adult {
  width: 247px;
}

.modal-submit {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  min-height: 60px;
  margin-top: 48px;
  cursor: pointer;
}


.people-number-picker {
  position: relative;
}

.number-of-people {
  width: 110px;
  height: 48px;
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  line-height: 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  padding: 14px 50px;
}

.number-of-people::-webkit-outer-spin-button,
.number-of-people::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.number-action {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.decrease-number {
  left: 6px;
}

.increase-number {
  right: 10px;
}

.plus-icon, .minus-icon {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: rgba(117, 97, 87, 0.3);
}

.minus-icon {
  top: -2px;
}

.number-action:hover .plus-icon,
.number-action:hover .minus-icon {
  fill: #000000;
}

.number-action:focus .plus-icon,
.number-action:focus .minus-icon {
  fill: #000000;
}

.number-action:active .plus-icon,
.number-action:active .minus-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.number-action:focus {
  outline: 3px solid #82B3D3;
}

.choose-amount-child .modal-label {
  margin-right: 10px;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 46px;
}

.info-icon {
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  margin-right: 46px;
  position: relative;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  top: 6px;
}

.info-icon::after,
.info-icon::before {
  width: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 12px;
  content: "";
}

.info-icon::after {
  height: 9px;
  bottom: 7px;
}

.info-icon::before {
  height: 2px;
  top: 7px;
}

.tooltip-text {
  position: absolute;
  width: 256px;
  min-height: 20px;
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 18px 23px 22px;
  border-radius: 10px;
  z-index: 1;
  left: -115px;
  top: 52px;
  display: none;
}

.tooltip-text::before {
  content: "";
  background-color: #333333;
  position: absolute;
  width: 13px;
  height: 13px;
  left: 121px;
  top: -5px;
  transform: rotate(45deg);
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  display: block;
}
