@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: bold;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

/* Normalize */

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 21px;

  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.button-header {
  width: 160px;
  display: block;
  text-align: center;
}

.btn-blue {
  background-color: #82B3D3;
}

.btn-green {
  background-color: #7DB54F;
}

.page-header {
  display: flex;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 0 70px;
}

.logo-header {
  margin-right: 46px;
}

.navigation-list {
  list-style: none;
  padding: 0;
}

.navigation-links {
  display: flex;
  gap: 32px;
}

.navigation-actions {
  margin-left: auto;
  display: flex;
}

.navigations-actions-icons {
  display: flex;
  margin-right: 20px;
  gap: 13px;
}

.navigation-link {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 24px;
}

.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/bottom-of-the-hero.svg"), url("../images/index-background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat;
  background-size: 100% 57px, cover;
  color: #ffffff;
  background-color: #82B3D3;
}

.hero-logo {
  margin: 0 auto;
  display: block;
}

.description {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  width: 620px;
}

.description-title-narrower {
  width: 505px;
}

.description-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.description-subtitle-wider {
  width: 592px;
}

.advantage-solo {
  background-color: #82B3D3;
  color: #ffffff;
  text-align: center;
  display: flex;
}

.advantage-text-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-solo-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  width: 175px;
}

.advantage-solo-subtitle {
  width: 230px;
  margin: 0;
}

.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.advantages-list .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list .advantages-item:nth-child(2),
.advantages-list .advantages-item:nth-child(3n+2) {
  background-color: #83B3D333;
}

.advantages-item {
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  width: 175px;
}

.advantage-subtitle {
  width: 230px;
}

.advantages-with-icon-wrapper {
  width: 230px;
  margin: 0 auto;
}

.advantages-with-icon-wrapper .advantage-title {
  width: inherit;
}

.advantages-list-reverse .advantages-item {
  background-color: #83B3D31F;
}

.advantages-list-reverse .advantages-item:nth-child(2),
.advantages-list-reverse .advantages-item:nth-child(3n+2) {
  background-color: #ffffff;
}


.advantage-solo-reverse {
  flex-direction: row-reverse;
}

.description-button {
  font-size: 20px;
  line-height: 36px;
  width: 376px;
}

.description-cta {
  background-color: #ffffff;
  text-align: center;
}

.with-background-image {
  background-image: url("../images/banner-blurred.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: #ffffff;
  background-color: #82B3D3;
}

.description-cta-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.description-cta-subtitle {
  font-size: 22px;
  line-height: 26px;
  width: 475px;
  display: block;
  margin: 0 auto;
}

.subscribe-mail {
  background-color: #F2F2F2;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  width: 452px;
  margin-right: 0;
}

.subscribe-form button {
  background-color: #82B3D3;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  width: 232px;
  margin-left: 0;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.page-footer {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 26px;
  margin-right: 237px
}

.social-links-item {
  display: block;
  width: 22px;
}

.footer-socials {
  margin-left: 82px;
}

.footer-phone {
  width: 331px;
}

.school {
  margin-left: auto;
  margin-right: 70px;
}

/* Hotels Page */

.hotels-main-block {
  background-image: url("../images/hotels-banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  background-color: #82B3D3;
}

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0
}

.filters-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px
}

.breadcrumbs-link {
  font-size: 16px;
}

.hotels-filters-form {
  display: flex;
}

.first-filters-group, .second-filters-group {
  width: 151px;
}

.hotels-filters-group {
  margin: 0;
  padding: 0;
}

.first-filters-group {
  margin-right: 70px;
}

.hotels-filters-price-group {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
}


.third-filters-group {
  margin-right: 70px;
  width: 288px;
}


.hotels-filters-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.hotels-filters-input {
  line-height: 23px;
}

.hotels-filters-input-number {
  line-height: 24px;
  color: #000000;
}

.filters-controls button {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

.filters-controls {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.filters-controls-accept {
  background-color: #82B3D3;
  width: 191px;
}

.filters-controls-clear {
  background-color: transparent;
}

.results-info {
  background-color: #ffffff;
}

.hotels-search-result {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 200px;
}

.results-header-wrapper {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.sort-by-filter {
  width: 292px;
}

.select-grid-type-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: auto;
  display: flex;
  gap: 8px;
}

.select-grid-type-button {
  width: 48px;
  height: 48px;
  display: block;
  text-wrap: nowrap;
}

.results-list-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.results-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}

.results-item {
  width: 340px;
  padding: 20px;
}

.results-item-link {
  text-decoration: none;
}

.results-item-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.results-item-description {
  display: flex;
  justify-content: space-between;
}

.results-item .btn {
  width: 140px;
  display: block;
  text-align: center;
}

.results-item-controls {
  display: flex;
  justify-content: space-between;
}

.results-item-rating-wrapper {
  display: flex;
  justify-content: space-between;
}

.results-item-rating-stars {
  display: block;
  width: 140px;
}

.results-item-rating {
  background-color: #F2F2F2;
  color: #333333;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;
}

.pagination {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  width: 1060px;
  margin-right: auto;
  margin-left: 70px;
  gap: 8px;
}

.pagination-item {
  background-color: #82B3D3;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item.pagination-active, .pagination-special {
  background-color: #F2F2F2;
}

.pagination-item.pagination-active .pagination-link {
  color: #000000;
}

.pagination-more {
  font-size: 22px;
  line-height: 26px;
}
